<div *ngIf="recipesPage">
    <div *ngFor="let recipe of recipesPage.content">
      <h3>{{ recipe.name }}</h3>
      <p>{{ recipe.description }}</p>
      <p><a [routerLink]="['/recipe', recipe.id]">Détails</a></p>
      <img [src]="recipe.image" alt="{{ recipe.name }}">
    </div>
  
    <div class="pagination">
      <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 0">Previous</button>
      <span>Page {{ currentPage + 1 }} of {{ recipesPage.totalPages }}</span>
      <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage + 1 >= recipesPage.totalPages">Next</button>
    </div>
  </div>
  